[core]
    packedGitLimit = 512m
    packedGitWindowSize = 512m
[pack]
    windowMemory = 512m
    packSizeLimit = 512m
    deltaCacheSize = 512m
    threads = 1
    window = 0
[http]
    postbuffer = 9999999999
